<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Your Template</h1>
    <%= template.company_name %> <br>
    <%= template.company_website %> <br>
    <%= template.country %> <br>
    <%= template.phone %> <br>
    <%= template.email %> <br>
    <%= template.address %> <br>
    <%= template.privacy %> <br>
    <%= template.gdrp %> <br>
    <%= template.ads %>
    <%= template.tc %>
</body>
</html>